html{
    background-image: linear-gradient(to bottom right, #2eaf7d,#3fd0c9);
    background-repeat:no-repeat;
}

.Heading{
    color: black;
    text-align: center;
    font-size: 25px;
    background-color: #56C596;
    width: 75%;
    margin: auto;
    margin-bottom: 15%;
    padding: 2.5%;
    border-color: mediumvioletred;
}

.semistersg1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.semister1{
    background-color:midnightblue;
    margin: 10px;
    width: 25%;
}

.semister2{
    background-color: mediumvioletred;
    margin: 10px;
    width: 25%;
}

.semister3{
    background-color: rgb(21, 113, 199);
    margin: 10px;
    width: 25%;
}

.semister4{
    background-color: rgb(143, 21, 199);
    margin: 10px;
    width: 25%;
}



.semistersg2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.semister5{
    background-color:midnightblue;
    margin: 10px;
    width: 25%;
}

.semister6{
    background-color: mediumvioletred;
    margin: 10px;
    width: 25%;
}

.semister7{
    background-color: rgb(21, 113, 199);
    margin: 10px;
    width: 25%;
}

.semister8{
    background-color: rgb(143, 21, 199);
    margin: 10px;
       width: 25%;
}

.blank_lines{
    padding-left: 1920px;
    padding-bottom: 1082px;
}